<div>
  <h2>Справочник клиентов</h2>

  <!-- Форма для добавления нового клиента -->
  <div>
    <input [(ngModel)]="newClassification.classificationName" placeholder="Классификация" />
    <button (click)="addClassification()">Добавить</button>
  </div>

  <!-- Список клиентов -->
  <ul>
    <li *ngFor="let classification of classifications">
      <span *ngIf="editedClassification?.id !== classification.id">{{ classification.classificationName }}</span>

      <input *ngIf="editedClassification?.id === classification.id" [(ngModel)]="editedClassification.classificationName" placeholder="Редактировать классификацию" />

      <button *ngIf="editedClassification?.id !== classification.id" (click)="startEditing(classification)">Редактировать</button>
      <button *ngIf="editedClassification?.id === classification.id" (click)="saveClassification()">Сохранить</button>
      <button (click)="deleteClassification(classification.id)">Удалить</button>
    </li>
  </ul>
</div>
