<div class="directory-container">
  <h2>Справочник классификаций</h2>


  <div>
<!--    <input [(ngModel)]="newClassification.classificationName" placeholder="Классификация" />-->
<!--    <button (click)="addClassification()">Добавить</button>-->
  </div>

  <!-- Список классификаций -->
  <ul class="directory-list">
    <li class="directory-item" *ngFor="let classification of classifications">
      <span *ngIf="editedClassification?.id !== classification.id">{{ classification.classificationName }}</span>

      <input *ngIf="editedClassification?.id === classification.id" [(ngModel)]="editedClassification.classificationName" placeholder="Редактировать классификацию" />

      <button class="directory-buttons" *ngIf="editedClassification?.id !== classification.id" (click)="startEditing(classification)">Редактировать</button>
      <button class="directory-buttons" *ngIf="editedClassification?.id === classification.id" (click)="saveClassification()">Сохранить</button>
      <button class="directory-buttons" *ngIf="editedClassification?.id === classification.id" (click)="cancelEditing()">Отмена</button>
<!--      <button (click)="deleteClassification(classification.id)">Удалить</button>-->
    </li>
  </ul>
</div>
