<div class="directory-container">
  <h2>Справочник клиентов</h2>

  <!-- Форма для добавления нового клиента -->
  <div class="directory-header">
    <input [(ngModel)]="newClient.name" placeholder="Имя клиента" />
    <button class="directory-buttons" (click)="addClient()">Добавить</button>
  </div>

  <!-- Список клиентов -->
  <ul class="directory-list" >
    <li *ngFor="let client of clients" class="directory-item">
      <span *ngIf="editedClient?.id !== client.id">{{ client.name }}</span>

      <input *ngIf="editedClient?.id === client.id" [(ngModel)]="editedClient.name" placeholder="Редактировать имя" />

      <button class="directory-buttons" *ngIf="editedClient?.id !== client.id" (click)="startEditing(client)">Редактировать</button>
      <button  class="directory-buttons" *ngIf="editedClient?.id === client.id" (click)="saveClient()">Сохранить</button>
      <button  class="directory-buttons" *ngIf="editedClient?.id === client.id" (click)="cancelEditing()">Отмена</button>
<!--      <button (click)="deleteClient(client.id)">Удалить</button>-->
    </li>
  </ul>
</div>
