<div>
  <h2>Справочник инцидентов</h2>

  <!-- Форма для добавления нового инцидента -->
  <div>
    <input [(ngModel)]="newIncident.description" placeholder="Описание инцидента" />
    <input [(ngModel)]="newIncident.classification" placeholder="Классификация" />
<!--    <input [(ngModel)]="newIncident.client" placeholder="Клиент" />-->
    <select [(ngModel)]="newIncident.client">
      <option *ngFor="let client of clients" [value]="client.id">{{ client.name }}</option>
    </select>
    <input type="datetime-local" [(ngModel)]="newIncident.dateTime" />
    <input type="checkbox" [(ngModel)]="newIncident.isComplete" /> Завершен
    <!-- Выпадающий список резолюций -->
    <div *ngIf="newIncident.isComplete">
      <label>Выберите резолюцию:</label>
      <select [(ngModel)]="newIncident.resolution">
        <option *ngFor="let option of resolutionOptions" [value]="option">{{ option }}</option>
      </select>
    </div>
    <button (click)="addIncident()">Добавить</button>
  </div>

  <!-- Список инцидентов -->
  <ul>
    <li *ngFor="let incident of incidents">
      <!-- Если элемент редактируется -->
      <div *ngIf="editedIncident?.id === incident.id; else viewMode">
        <input [(ngModel)]="editedIncident.description" placeholder="Описание" />
        <input [(ngModel)]="editedIncident.classification" placeholder="Классификация" />
<!--        <input [(ngModel)]="editedIncident.client" placeholder="Клиент" />-->
        <select [(ngModel)]="editedIncident.client">
          <option *ngFor="let client of clients" [value]="client.id">{{ client.name }}</option>
        </select>
        <input type="datetime-local" [(ngModel)]="editedIncident.dateTime" />
        <input type="checkbox" [(ngModel)]="editedIncident.isComplete" /> Завершен
        <div *ngIf="editedIncident.isComplete" >
          <label>Выберите резолюцию:</label>
          <select [(ngModel)]="editedIncident.resolution">
            <option *ngFor="let option of resolutionOptions" [value]="option">{{ option }}</option>
          </select>
        </div>
        <button (click)="saveIncident()">Сохранить</button>
        <button (click)="cancelEditing()">Отмена</button>
      </div>

      <!-- Если элемент не редактируется -->
      <ng-template #viewMode>
        <div>
          <strong>Описание:</strong> {{ incident.description }}<br />
          <strong>Классификация:</strong> {{ incident.classification }}<br />
          <strong>Клиент:</strong> {{ incident.clientName }}<br />
          <strong>Дата и время:</strong> {{ incident.dateTime | date: 'short' }}<br />
          <strong>Завершен:</strong> {{ incident.isComplete ? 'Да' : 'Нет' }}<br />
          <div *ngIf="incident.isComplete"><strong>Резолюция:</strong> {{ incident.resolution }} <br /> </div>
          <button (click)="startEditing(incident)">Редактировать</button>
          <button (click)="deleteIncident(incident.id)">Удалить</button>
        </div>
      </ng-template>
    </li>
  </ul>
</div>
