<div class="directory-container">
  <h2>Справочник инцидентов</h2>

  <!-- Форма для добавления нового инцидента -->
  <div class="directory-header">
    <input [(ngModel)]="newIncident.description" placeholder="Описание инцидента" />

    <label for="classification-select">Классификация:</label>
    <select id="classification-select" [(ngModel)]="newIncident.classificationId" >

      <option *ngFor="let classification of classifications" [value]="classification.id">{{ classification.classificationName }}</option>
    </select>

    <label for="client-select">Клиент:</label>
    <select id="client-select" [(ngModel)]="newIncident.clientId">

      <option *ngFor="let client of clients" [value]="client.id">{{ client.name }}</option>
    </select>

    <input type="datetime-local" [(ngModel)]="newIncident.dateTime" />
    <input type="checkbox" [(ngModel)]="newIncident.isComplete" /> Завершен

    <div *ngIf="newIncident.isComplete">

      <select  [(ngModel)]="newIncident.resolutionId">
        <option *ngFor="let resolution of resolutions" [value]="resolution.id">{{ resolution.resolution }}</option>
      </select>
    </div>
    <button  class="directory-buttons" (click)="addIncident()">Добавить</button>
  </div>

  <!-- Список инцидентов -->
  <ul class="directory-list">
    <li *ngFor="let incident of incidents"  class="directory-item">
      <!-- Если элемент редактируется -->
      <div *ngIf="editedIncident?.id === incident.id; else viewMode">
        <input [(ngModel)]="editedIncident.description" placeholder="Описание" /><br />
        <select [(ngModel)]="editedIncident.classificationId" >
          <option *ngFor="let classification of classifications" [value]="classification.id">{{ classification.classificationName }}</option>
        </select><br />

        <select [(ngModel)]="editedIncident.clientId">
          <option *ngFor="let client of clients" [value]="client.id">{{ client.name }}</option>
        </select><br />

        <input type="datetime-local" [(ngModel)]="editedIncident.dateTime" /><br />
        <input type="checkbox" [(ngModel)]="editedIncident.isComplete" /> Завершен <br />
        <div *ngIf="editedIncident.isComplete" >
          <label>Выберите резолюцию:</label>
          <select [(ngModel)]="editedIncident.resolutionId">
            <option *ngFor="let resolution of resolutions" [value]="resolution.id">{{ resolution.resolution }}</option>
          </select>
        </div>
        <button class="directory-buttons" (click)="saveIncident()">Сохранить</button>
        <button class="directory-buttons" (click)="cancelEditing()">Отмена</button>
      </div>

      <!-- Если элемент не редактируется -->
      <ng-template #viewMode>
        <div>
          <strong>Описание:</strong> {{ incident.description }}<br />
          <strong>Классификация:</strong> {{ incident.classification }}<br />
          <strong>Клиент:</strong> {{ incident.clientName }}<br />
          <strong>Дата и время:</strong> {{ incident.dateTime | date: 'short' }}<br />
          <strong>Завершен:</strong> {{ incident.isComplete ? 'Да' : 'Нет' }}<br />
          <div *ngIf="incident.isComplete"><strong>Резолюция:</strong> {{ incident.resolution }} <br /> </div>

          <button class="directory-buttons" (click)="startEditing(incident)">Редактировать</button>
          <button class="directory-buttons" (click)="deleteIncident(incident.id)">Удалить</button>
        </div>
      </ng-template>
    </li>
  </ul>
</div>
